header{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/seed.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
}

#logo{
    font-family: 'Gowun Batang', serif;
}

#sns {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/grass.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

